# To turn this sample json into something you can use with the integration
# tests, you need to 
#   1) remove all these comments
#   2) replace the fields in the json
#   3) rename this file to drop the ".sample" suffix
# and then you should be able to run the integration tests

{
  "webex_id": "your_webex_id_here",
  "password": "your_webex_password_here",
  "site_name": "your_webex_sitename_here"
}

